body {
    background-color: #F0F0F0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
/*  extra smol  */

div.logo-bg {
    margin-top: 40px;
    background-color: white;
    text-align: center;
    height: 60px;
    padding-bottom: 50px;
    margin-bottom: 70px;
    width: 100%;
}

span.logo-big {
    height: 210px;
    width: 210px;
    background-image: url("../assets/logo.jpg");
    background-position: center;
    border-radius: 50%;
    display: inline-block;
    background-size: 108%;
    position: relative;
    top: -45px;
}

p.codeup {
    font-size: 64px;
    font-family: 'Abel', sans-serif;
    margin-top: -50px;
}

ul.navbar-middle {
    font-family: 'Abel', sans-serif;
    font-size: 26px;
}

a:link {
    color: black;
}

h1 {
    font-size: 64px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin-top: 100px;
}

h2 {
font-size: 48px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin-top: 100px;
}

.circle {
    height: 236px;
    width: 236px;
    border: 13px solid white;
    border-radius: 50%;
    display: inline-block;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 48px;
    text-align: center;
    line-height: 205px;
    /*margin-left: 30px;*/
    /*margin-top: 15px;*/
}

.red {
    background-color: #E6563B;
}

.orange {
    background-color: #EB9D3A;
}

.green {
    background-color: #7CB06C;
}

.blue {
    background-color: #00ABA9;
}

div.circle-div {
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 26px;
}

.container-fluid>img {
    border: 10px solid #E6E6E6;
    border-radius: 6px;
}
div.mobile-bottom {
    font-family: Abel, sans-serif;
    font-size: 26px;
}
.desktop-picture-div {
    padding-left: 38px;
}

div.mobile-bottom>p {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 240px;
}
.circle-tiny {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
}

.mobile-footer {
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 150px;
}

.mobile-footer-left {
    text-align: left;
    padding-left: 10px;
}
.mobile-footer-right {
    text-align: right;
    padding-right: 15px;
    padding-left: 0;
}
img.xsmol-picture {
    width: 100%;
}
/* smol  */

div.logo-bg {
    line-height: 110px;
}

h1 {
    font-size: 52px;
    margin-top: 32px;
}

h2 {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.circle {
    height: 130px;
    width: 130px;
    border: 8px solid white;
    font-size: 24px;
    line-height: 110px;
}

.circle-div {
    text-align: center;
    padding: 0 0 0 0;
}

div.mobile-bottom>p {
    margin-top: 20px;
}

hr.special-hr {
    width: 480px;
    height: 5px;
}
.mobile-bottom>p {
    font-size: 16px;
}
.small-picture-div>img {
    width: 100%;
}
.small-picture-div div {
    font-size: 16px;
}
.mobile-footer-left2 {
    padding-left: 15px;
    width: 70%;
    padding-right: 0;
}
.mobile-footer-right2 {
    text-align: right;
    padding-right: 45px;
    width: 30%;
    padding-left: 0;
}
.mobile-footer2 {
    box-sizing: border-box;
}
img.desktop-image {
    height: calc(100% - 27px);
    width: calc(100% - 30px);
}
.small-picture-div>img {
    border: 5px solid #E6E6E6;
    border-radius: 5px;
}
.small-picture-div {
    height: 250px;
    box-sizing: content-box;
    width: 300px;
}
/*.picture-col {*/
/*    padding: 0 20px;*/
/*}*/

.circle-tiny2 {
    height: 18px;
    width: 18px;
    font-size: 10px;
    line-height: 18px;
    border-radius: 50%;
    display: inline-block;
    font-family: 'Anton', sans-serif;
    text-align: center;
}
.center {
    text-align: center;
}
/*mid*/
span.logo-smol {
    height: 105px;
    width: 105px;
    background-image: url("../assets/logo.jpg");
    background-position: center;
    border-radius: 50%;
    display: inline-block;
    background-size: 108%;
    position: relative;
    top: -45px;
}
.logo-smol-left {
    height: 105px;
    width: 105px;
    background-image: url("../assets/logo.jpg");
    background-position: center;
    border-radius: 50%;
    display: inline-block;
    background-size: 108%;
    position: relative;
    top: -25px;
}
.codeup-left {
    font-size: 38px;
    font-family: 'Abel', sans-serif;
    margin-top: -130px;
    margin-left: -360px;
}
.navbar-right {
    margin-right: -460px;
    margin-top: -133px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;

}
hr.big-hr {
    width: 750px;
    height: 50px;
}