body {
    background-color: #F0F0F0;
    margin: 0;
}
/*  extra smol  */

div.logo-bg {
    margin-top: 110px;
    background-color: white;
    text-align: center;
    height: 50px;
    padding-bottom: 180px;
    margin-bottom: 210px;
}

span.logo {
    height: 350px;
    width: 350px;
    background-image: url("../assets/logo.jpg");
    background-position: center;
    border-radius: 50%;
    display: inline-block;
    background-size: 108%;
    position: relative;
    top: -75px;
}

p.codeup {
    font-size: 64px;
    font-family: 'Abel', sans-serif;
    margin-top: -50px;
}

li {
    font-family: 'Abel', sans-serif;
    font-size: 26px;
}

a:link {
    color: black;
}

h1 {
    font-size: 64px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin-top: 100px;
}

h2 {
font-size: 48px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin-top: 100px;
}

.circle {
    height: 275px;
    width: 275px;
    border: 18px solid white;
    border-radius: 50%;
    display: inline-block;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 48px;
    text-align: center;
    line-height: 225px;
    margin-left: 30px;
    margin-top: 15px;
}

.red {
    background-color: #E6563B;
}

.orange {
    background-color: #EB9D3A;
}

.green {
    background-color: #7CB06C;
}

.blue {
    background-color: #00ABA9;
}

div.container-fluid {
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 26px;
    width: 660px;
}

div.container-fluid p {
    margin-top: 250px;
}

img {
    border: 10px solid #E6E6E6;
    border-radius: 6px;
}

.circle-tiny {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    text-align: center;
}

.mobile-footer {
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 150px;
}

.mobile-footer-left {
    text-align: left;
}
.mobile-footer-right {
    text-align: right;
    padding-right: 0;
}
/* smol  */

